@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 100px;
  --footer-height: 50px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 51, 51, 51;
    --background-end-rgb: 51, 51, 51;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.mdx-h1 {
  font-size: 52px;
  color: #b4b8bd;
}

.mdx-h2 {
  font-size: 36px;
  color: #7b848e;
}

.mdx-p {
  font-size: 20px;
  margin-bottom: 1.5em;
  line-height: 1.6em;
}

.heading {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.posts-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - var(--header-height) - var(--footer-height));
  animation: fadeIn 0.5s ease-in;
}


@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.content-container {

  margin: 0 auto 1.5rem auto;
  max-width: 700px;
  align-items: center;
  justify-content: center;
  width: 70%;

  animation: fadeIn 0.5s ease-in;
}

.post-card {
  position: relative;
  background-color: #333;
  padding: 1rem;
  border: 1px solid #000;
  min-height: 200px;
  cursor: pointer;
  width: 80%;
  max-width: 1000px;
  box-sizing: border-box;
  margin-bottom: 1.5rem;
  margin: 0 auto 1.5rem auto;
  display: flex;
  transition: background-color 0.3s;
}

.post-card:hover {
  background-color: #696564;
}

.post-card a {
  color: unset;
  text-decoration: none;
}

.post-card-content {
  color: #FFFFFF;
  height: 100%;
  width: 100%;
  padding: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: self-start;
  justify-content: flex-end;
  transition: .4s ease-in-out;
}

.post-card-title {
  font-size: 25px;
  font-weight: 400;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.post-card-description {
  color: white;
}



/* 

.projectBox {
  position: relative;
  background-color: #333;
  padding: 1rem;
  border: 1px solid #000;
  min-height: 200px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s;
  width: 80%;
  max-width: 600px;
  box-sizing: border-box;
}

.projectBox:hover {
  background-color: #696564;
}

.projectHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.projectName {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
 */ 