@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --header-height: 100px;
  --footer-height: 50px;
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255;
    --background-end-rgb: 255, 255, 255;
  }
}

/* 

.projectBox {
  position: relative;
  background-color: #333;
  padding: 1rem;
  border: 1px solid #000;
  min-height: 200px;
  cursor: pointer;
  margin-bottom: 1.5rem;
  transition: background-color 0.3s;
  width: 80%;
  max-width: 600px;
  box-sizing: border-box;
}

.projectBox:hover {
  background-color: #696564;
}

.projectHeader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 0.5rem;
}

.projectName {
  font-size: 1.5rem;
  margin-right: 0.5rem;
}
 */ 